@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #71B8DA;
}

.header {
    text-align: center;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
    z-index: 0;
    animation: float 7s ease-in-out infinite;
}
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(30px); }
    100% { transform: translateY(0); }
}
.clouds svg {
    width: 100%;
    height: auto;
    z-index: 0;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
    margin-top: 30px;
    z-index: 1;
    position: relative;
}

h1 {
    font-size: 1.5em;
    color: #ffffff;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    padding: 10px;
}

.container {
    text-align: center;
}

.iphone-container {
    position: relative;
    width: 300px;
    height: 600px;
}


.iphone-mockup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('iphone15pro-mockup.webp') no-repeat center center;
    background-size: contain;
    z-index: 2;
    pointer-events: none;
}

.slider {
    position: absolute;
    top: 4.5%;
    left: 8%;
    width: 84%;
    height: 91%;
    overflow: hidden;
    border-radius: 30px;
    z-index: 1;
    animation: wiggle 1s ease-in-out;
}
.slider.initial-wiggle {
    animation: wiggle 1s ease-in-out;
}

.slides {
    display: flex;
    transition: transform 0.3s ease;
}

.wallpaper {
    min-width: 100%;
    height: auto;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.136);
    color: white;
    border: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 3;
}

.left-button {
    left: -40px;
}

.right-button {
    right: -40px;
}

#downloadBtn {
    margin-top: 20px;
    padding: 10px 60px;
    font-size: 16px;
    background-color: #2A6783;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    box-shadow: 0 0px 56px #2d526844;
}

#downloadBtn.downloading {
    transition-duration: 0.3s;
    background-color: #6cb9d6;
}

#downloadBtn.downloading::after {
    content: "Downloading...";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    white-space: nowrap;
    z-index: 2;
}

#downloadBtn .default-text {
    display: block; 
}

#downloadBtn.downloading .default-text {
    display: none; 
}



.footer {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.footer-image {
    width: 100%;
    height: auto;
    display: block; 
    margin: 0; 
    padding: 0; 
}

.footer-text {
    background-color: #2A6783; 
    color: rgba(255, 255, 255, 0.683);
    padding: 20px;
    text-align: center;
    margin: 0; 
    border: 0; 
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

@keyframes wiggle {
    0% { transform: translateX(0); }
    50% { transform: translateX(-8px); }
    100% { transform: translateX(0); }
}

.footer-image-wrapper {
    position: relative;
    width: 100%;
    height: auto;
}

.additional-section {
    text-align: center;
    margin: 20px 0;
}

.wavy-line {
    display: block;
    padding-top: -5px;
    padding-bottom: 40px;
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
}

.additional-text {
    font-size: 20px;
    color: #ffffff;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 6px;
}

.visit-button {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    background-color: #2a6783;
    padding:2px 14px;
    border-radius: 20px;
    border: solid ;
    font-weight: 600;
    height: 32px;
    transition: background-color 0.3s ease;
    border-color: #ffffff;
    border-width: 2px;
}

.global-button {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    background-color: #2a6783;
    padding:2px 25px;
    border-radius: 20px;
    border: solid ;
    font-weight: 600;
    height: 32px;
    transition: background-color 0.3s ease;
    border-color: #ffffffb1;
    border-width: 2px;
}

.visit-button:hover {
    background-color: #528ca3;
}


.icon{
    position: relative;
    height: 1.5em;
    margin-right:10px;
    top: 4px; 
}

.credit-icon {
    width: 200px; /* Adjust the width as needed */
    height: auto;
    vertical-align: middle; /* Aligns the image vertically with the text */
    margin-right: 8px; /* Adds some space between the image and the text */
}

@keyframes wiggle-rotate {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.wiggle-rotate {
    animation: wiggle-rotate 0.5s ease-in-out;
}






